<div id="wrapper" class="d-flex flex-column justify-content-between">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar"
		data-parent="#sidebarToggleTop">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center py-3 h-auto" href="/admin/dashboard">
			<!-- <img src="/img/Logo.png" alt="" srcset=""> -->
			<!-- <img src="/img/Logo.png" alt="" width='25' height='25' srcset=""> -->
			<div class="sidebar-brand-text mx-2"><b>Medi Home</b></div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider my-1" />
		<!-- Nav Item - Dashboard-->
		<li class="nav-item">
			<a class="nav-link py-2 h-auto" href="/admin/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider my-1" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapsePharmacist"
				aria-expanded="true" aria-controls="collapsePharmacist">
				<i class="fas fa-fw fa-poll-h"></i>
				<span>Pharmacies</span>
			</a>
			<div id="collapsePharmacist" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/pharmacy/add">Add New</a>
					<a class="collapse-item" href="/admin/pharmacies">View All</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider my-1" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapseLaboratories"
				aria-expanded="true" aria-controls="collapseLaboratories">
				<i class="fas fa-diagnoses"></i>
				<span> Laboratories</span>
			</a>
			<div id="collapseLaboratories" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/laboratory/add">Add New</a>
					<a class="collapse-item" href="/admin/laboratories">View All</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider my-1" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link py-2 h-auto" href="/admin/settings">
				<i class="fas fa-cogs"></i>
				<span>Settings</span>
			</a>
		</li>
		<hr class="sidebar-divider" />
	</ul>
</div>
