<footer class="sticky-footer bg-light p-3">
	<div class="container my-auto">
		<div class="copyright text-center text-dark my-auto">
			<span> Copyright &copy; Quokka by Codes Binary 2021 </span>
		</div>
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up">UP</i>
		</a>
	</div>
</footer>