<head>
	<link rel="stylesheet" href="/styles/styles.css" type="text/css" />
	<!-- <link rel="stylesheet" href="https://bootwatch.com/4/journal/bootstrap.min.css"> -->
</head>
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<h1>
				<!-- <img src="/img/logo.png" alt="logo" /> -->
			</h1>
			<a href="/admin/login" class="btn btn-primary btn-block mb-2">Login</a>
		</div>
	</div>
</div>